.nav {
    display: flex;
    align-items: center;
    background-color: #6495ed;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    height: 125px;
    width: 1000px;
}

img {
    height: 75px;
}

h1 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
}

ul {
    display: flex;
    color: #6495ed;
    justify-content: space-around;
    width: 800px;
}

a {
    color: #ffffff;
    text-decoration: none;
}