#wrapper {
    background-color: #d4d2ae;
    width: fit-content;
    padding: 15px;
    padding-top: 20px;
}

.header {
    display: inline;
    width: 100px;
}

.left {
    margin-left: 95px;
    height: 50px;
}

.text {
    display: inline;
    font-weight: bolder;
}

.right{
    background-color: white;
    margin-right: 95px;
    height: 50px;
}

#main {
    margin-top: 10px;
}

.odd {
    height: 100px;
    display: inline-flex;
    border: 3px solid black;
    padding: 10px;
    background-color: #82b4ee;
}

.even {
    height: 100px;
    display: inline-flex;
    border: 3px solid black;
    padding: 10px;
    background-color: #f36870;
}

.fix {
    width: 100px;
}


/*Questions:
1. Better way than using class class class class? Seems cumbersome.
2. Text seems slightly different, why didn't "font-weight" change the way the text looked?