/* * {
    outline: 1px dotted red;
} */

#wrapper {
    width: 1000px;
    background-color: white;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header h4 {
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    background-image: radial-gradient(circle, #1e0e12, #6f5964, #1e0e12);
    height: 900px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

#content_top {
    display: flex;
    justify-content: space-between;
    height: 270px;
}

#content_top img {
    width: 400px;
    height: 240px;
    border: 5px solid #c0c0c0;
    margin: 20px;
    margin-bottom: 0px;
}

#intro {
    width: 515px;
    height: 250px;
    background-color: #ebe3ea;
    margin: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#intro h3 {
    display: flex;
    align-items: center;
    background-image: linear-gradient(#c0c0c0, #878593, #c0c0c0);
    color: #ffffff;
    margin: 0px;
    width: 505px;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#intro p {
    margin: 5px;
    padding-left: 7px;
}

#intro a {
    margin-bottom: 30px;
    margin-left: 11px;
    color: #000;
}

#content_bottom {
    display: flex;
    justify-content: space-evenly;
    /* gap: 18px; */
}

.project {
    display: flex;
    flex-direction: column;
    height: 585px;
    width: 305px;
    background-color: #ebe3ea;
    margin-top: 20px;
    }

.project_info h3 {
    background-image: linear-gradient(#c0c0c0, #878593, #c0c0c0);
    color: #ffffff;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 0px;
}

.project_info img {
    width: 295px;
}

.project_info p {
    margin: 10px;
}

.project h4 {
    background-image: linear-gradient(#c0c0c0, #878593, #c0c0c0);
    color: #ffffff;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.project_tech {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.project_tech img {
    width: 40px;
    height: 40px;
    margin: 7px;
}

.project a {
    background-color: #407d61;
    border-radius: 5px;
    border: 1px solid black;
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 3px 3px 5px grey;
}

#family {
    margin-left: 88px;
    width: 120px;
}

#fiveEleven {
    width: 85px;
}

span {
    margin-left: 385px;
    font-family: sans-serif;
}

#footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#footer img {
    width: 20px;
    height: 20px;
}

#footer a {
    text-decoration: #000 underline;
    font-style: italic;
    font-family: sans-serif;
}
